/node_modules

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads

# Coverage reports
coverage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db